# OSX
#
.DS_Store

# node.js
#
node_modules/**/*
npm-debug.log
yarn-error.log

# misc
#
.vscode
.settings

# Android/IntelliJ
#
android/app/build/**/*
android/.idea/**/*
android/.gradle/**/*
local.properties
*.iml